*.log

build/
dist/
node_modules/
.DS_Store          
Thumbs.db         
.idea/             
.vscode/           
.env               
*.pyc             
__pycache__/       
*.swp              
*.tmp             

*.zip
*.tar.gz
*.tar
*.gz
*.rar
*.7z
*.bz2
*.xz
*.pt

*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.webp
*.svg

*.ppm
*.csv
merge_vit/data/
merge_vit/checkpoints/
merge_vit/outputs/
taskarithmetic/
